.container{
  width: auto;
  object-fit: cover;
  text-align: center;
  font-style: italic;
}
.jumbotron{
  background-image: url("../img/landing.jpg");
  margin-bottom: auto;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin-left: 0px;
  margin-right: 0px;
}
#drink1{
  float: right;
  width: auto;
}
.navbar{
  text-align: center;
  font-size: 36px;
}
.orange{
  background-color: #F15A29;
  text-align: center;
}
.happy-hour{
  font-size: 48px;
  width: 115%;
}
.party-time{
  background-color: #F15A29;
  font-size: 48px;
  width: 115%
}
.breakfast{
  background: url("../img/breakfast.jpg");
  padding: 60px;
  width: 115%;
}
.lunch{
  background: url("../img/lunch.jpg");
  padding: 60px;
  width: 115%;
}
.dinner{
  background: url("../img/dinner2.jpg");
  padding: 60px;
}
body{
  background-size: cover;
}
h1{
  font-style: italic;
  text-decoration: none;
  color: white;
  display: block;
}
h3{
  font-style: italic;
}
.subscribe{
  background-image: url("../img/subscribe.jpg");
  background-size: cover;
  font-size: 20px;
  padding-bottom: 50px;
  padding-top: 10px;
  text-align: center;
  background-color: #F15A29;
}
.subscribe p{
  color: white;
  font-family: sans-serif;
}
button{
  background-color: #F15A29;
}
h2{
  font-size: 36px;
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  padding-top: -10px;
}
.test-box{
  border: 2px;
  padding: 6px;
  margin: 20px;
}
.FOOD{
padding: 0;
height: 600px;
width:100%;
background-image: url("../images/backgrounds/foodsBg.jpg");
 background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}
.anita-s{
height: 400px;
width: 80%;
margin-top: 100px;
margin-bottom: 100px;
margin-left: 10%;
margin-right: 10%;
background-color: #ffffff;
}
#FOOOD{
	text-align: center;
	padding: 50px;
}
.kitchen{
height: 50px;
width: 100%;
background-color: #ccc;
}
.about{
  background-color: white;
}
.example{
  background: url("../img/foodsBg.jpg");
}
.breakfast:hover{
  opacity: 0.5;
  color: black;
}
.lunch:hover{
  opacity: 0.5;
  color: black
}
.dinner:hover{
  opacity: 0.5;
  color: black;
}
.carton{
border: none;
color: #F15A29;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
}
.carton1 {
background-color: white;
color: #F15A29;
border: 2px solid #F15A29;
}
.burger:hover{
  opacity: 0.5;
  color: black;s
}
.beef:hover{
  opacity: 0.5;
  color: black;
}
.pizza:hover{
  opacity: 0.5;
  color: black;
}
