.container{
  width: auto;
  object-fit: cover;
  text-align: center;
  font-style: italic;
}
.jumbotron{
  background-image: url("../img/landing.jpg");
  margin-bottom: auto;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin-left: 0px;
  margin-right: 0px;
}
#drink1{
  float: right;
  width: auto;
}
.navbar{
  text-align: center;
  font-size: 36px;
}
.orange{
  background-color: #F15A29;
  text-align: center;
}
.happy-hour{
  font-size: 48px;
}
.party-time{
  background-color: #F15A29;
  font-size: 48px;
}
.breakfast{
  text-align: center;
}
.lunch{
  background-image: url("../img/lunch.jpg");
}
.dinner{
  background-image: url("../img/dinner2.jpg");
}
body{
  background-size: cover;
}
.well{
  background-image: url("../img/foodsBg.jpg");
}
h1{
  font-style: normal;
}
h3{
  font-style: normal;
}
.subscribe{
  background-image: url("../img/subscribe.jpg");
  background-size: cover;
  font-size: 20px;
  padding-bottom: 50px;
  padding-top: 10px;
  text-align: center;
  background-color: #F15A29;
}
.subscribe p{
  color: white;
  font-family: sans-serif;
}
button{
  background-color: #F15A29;
}
strong{
  background-color: #F15A29;
}
